<!DOCTYPE html>
<html lang="{{ @website.language }}">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {{! check if a Page Title exists; if the Page Title (available under Site Settings -> SEO -> Frontpage) is empty, display the name of the website}}
      {{#if title}}
         <title>{{title}}</title>
      {{else}}
         <title>{{@website.name}}</title>
      {{/if}}
      {{! /check if a Page Title exists}}

      {{metaDescription}}
      {{metaRobots}}
      {{{publiiHead}}}
      {{canonicalLink}}
      {{ampLink}}
      {{feedLink}}
      {{socialMetaTags}} 

      {{! check if a favicon exists; faviconUpload is a custom option included in the config.json file}}
      {{#if @config.custom.faviconUpload}}
	      <link rel="shortcut icon" href="{{@config.custom.faviconUpload}}" type="{{@config.custom.faviconExtension}}" />
      {{/if}}
      {{! /check if s favicon exists}}
      
      {{! check if pagination exists on the post listings (front, tag or author page)}} 
      {{#if @pagination}}
         {{#if @pagination.previousPage}}
            <link rel="prev" href="{{@pagination.previousPageUrl }}">
         {{/if}}
         {{#if @pagination.nextPage}}
            <link rel="next" href="{{@pagination.nextPageUrl }}">
         {{/if}}
      {{/if}}  
      {{! /check if pagination exists}}
      
      <link rel="stylesheet" href="{{css "style.css" }}">
      {{jsonLD}}
     
      {{! code injection by a Custom HTML tool }}
      {{{@headCustomCode}}}
      {{! /code injection by a Custom HTML tool }}

   </head>
   <body>

      {{! code injection by a Custom HTML tool }}
      {{{@bodyCustomCode}}}
      {{! /code injection by a Custom HTML tool }}